# Other
.vscode/

# Project build files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

# Library cache
include/glad/libglad.a
include/glm/cmake_install.cmake

# Project linting
compile_commands.json
.cache/

# Executables
viewer

# Dependencies
_deps/
