# Other
.vscode/

# Build files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile

include/glad/CMakeFiles/
include/glad/cmake_install.cmake
include/glad/Makefile

viewer

# Dependencies
_deps/
